---
import Websitelogo from "../assets/icons/Logospendin.svg";
---

<footer class="py-12 px-4 md:px-8 font-primary text-secondary-400">
    <div class="max-w-7xl mx-auto">
        <div
            class="grid grid-cols-2 lg:grid-cols-6 gap-8 lg:gap-12 mb-12 border-b border-gray-200 pb-12"
        >
            <!-- Logo + Description -->
            <div class="col-span-2">
                <Websitelogo href="#" class="flex items-center gap-x-2 mb-4" />
                <p class="text-lg leading-relaxed">
                    Data visualization, and<br /> expense management <br />for
                    your business.
                </p>
            </div>

            <!-- Product -->
            <div>
                <h4 class="font-semibold text-secondary-500 mb-4 text-lg">
                    Product
                </h4>
                <ul class="space-y-3">
                    <li><a href="#" class="text-base">Digital Invoice</a></li>
                    <li><a href="#" class="">Insights</a></li>
                    <li><a href="#" class="">Reimbursements</a></li>
                    <li><a href="#" class="">Virtual Assistant</a></li>
                    <li><a href="#" class="">Artificial Intelligence</a></li>
                </ul>
            </div>

            <!-- Company -->
            <div>
                <h4 class="font-semibold text-secondary-500 mb-4 text-lg">
                    Company
                </h4>
                <ul class="space-y-3">
                    <li><a href="#" class="">About Us</a></li>
                    <li><a href="#" class="">Newsletters</a></li>
                    <li><a href="#" class="">Our Partners</a></li>
                    <li><a href="#" class="">Career</a></li>
                    <li><a href="#" class="">Contact Us</a></li>
                </ul>
            </div>

            <!-- Ressources -->
            <div>
                <h4 class="font-semibold text-secondary-500 mb-4 text-lg">
                    Resources
                </h4>
                <ul class="space-y-3">
                    <li><a href="#" class="">Blog</a></li>
                    <li><a href="#" class="">Pricing</a></li>
                    <li><a href="#" class="">FAQ</a></li>
                    <li><a href="#" class="">Events</a></li>
                    <li><a href="#" class="">Ebook & Guide</a></li>
                </ul>
            </div>

            <!-- Follow us -->
            <div>
                <h4 class="font-semibold text-secondary-500 mb-4 text-lg">
                    Follow Us
                </h4>
                <ul class="space-y-3">
                    <li><a href="#" class="">LinkedIn</a></li>
                    <li><a href="#" class="">Twitter</a></li>
                    <li><a href="#" class="">Instagram</a></li>
                    <li><a href="#" class="">Facebook</a></li>
                    <li><a href="#" class="">YouTube</a></li>
                </ul>
            </div>
        </div>

        <!-- Conclusion -->
    </div>
    <div
        class="flex flex-col max-w-7xl mx-auto lg:flex-row gap-12 justify-start lg:justify-between lg:items-center font-semibold text-lg text-secondary-500"
    >
        <div class="flex flex-col lg:flex-row gap-8">
            <a href="#" class="">Privacy Policy</a>
            <span class="hidden lg:inline">|</span>
            <a href="#" class="">Terms & Conditions</a>
            <span class="hidden lg:inline">|</span>
            <a href="#" class="">Cookie Policy</a>
        </div>
        <p class="font-medium text-secondary-400">&copy; PickoLab 2022</p>
    </div>
</footer>
